.posts{
    width: 100vw;
    height: 100%;
    background-color: rgb(230, 230, 230);

    .wrapper{
        display: flex;
        padding: 20px 5px 10px;

        .card{
            flex: 3;
            margin: 0 5px;
            padding: 10px 5px 20px;
            max-height: 280px;
            overflow: auto;
            border-radius: 5px;
            background-color: #ffffff;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); 
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

            .text{
                font-size: 18px;
                font-weight: 500;
                color: #6b6b6b;
                margin-bottom: 20px;


                
            }
        }
    }
}

.nodata{
    color: rgb(224, 224, 224);
}

p{
    padding: 10px 0;
    color: #54717c;
}